*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
.navbar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.7;
    top: 0px;
    left: 0px;
}

ul{
    display: flex;
    font-family:'Baloo Bhai',cursive;
    position: absolute;
    right: 0px;
    
}
ul li{
    list-style: none;
    font-size: 1.3rem;
}
    ul li a{
    color: white;
    padding: 5px;
    margin: 20px;
    text-decoration: none;
    border-radius: 20%;
}
ul li a:hover{
    background-color: white;
    color: black;
}
        nav span{
            color: red;
            font-size: 3rem;
            font-weight: bolder;
            font-family: 'baloo bhai',cursive;
        }
        .navbar div{
            color: white;
            font-size: 3rem;
            font-weight: bolder;
            font-family: 'baloo bhai',cursive;
            padding: 2px;
        }
        .home::before{
            background: url(images/black\ background4.jpg) no-repeat center center/cover;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
        }
        .text{
            color: white;
            font-family: 'Open Sans', sans-serif;

            
            margin: 130px 0 40px 100px;
        }
        .text h3{
            font-size: 1.5rem;
            ;
        }
        .text h1{
            font-size: 2rem;
            
        }
        .text h2{
            font-size: 1.5rem;
            
        }
        .text h2 span{
            color: red;
            font-size: 1.7rem;
            
        }
        button{
            background-color: red;
            color: white;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid red;
            margin: 10px;
            /* font-family: 'baloo bhai',cursive; */
            font-size: 1rem;
        }
        .about_me{
            background-color: white;
            margin:0px ;
            padding: 23px;
            text-align: center;
            font-size: 1.5rem;
        }
        .about_me h1{
            color: black;
            margin: 10px;
        }
        .about{
            display: flex;
            /* position: relative; */
            /* left: 0px; */
            padding: 23px;
            margin: 0px;
            justify-content: center;
        }
        .about img{
            height: 400px;
            border-radius: 45px;
        }
        .about p{
            padding: 4px;
            margin: 34px;
            font-family: 'baloo bhai',cursive;
        }
        .about_me h4{
            color: red;
        }
        .services{
            background-color: black;
            color: white;
            /* padding: 5px;
            margin:  20px; */
            text-align: center;
            font-family: 'baloo bhai',cursive;
            font-size: 1.3rem;

        }
        .services h1{
            padding-top: 36px;
        }
        .services h4 span{
                  color: red;
                  font-size: 1.1rem;
        }
        .services h4 {
                  padding-bottom: 34px;
        }
        .service_box{
            display: flex;
            background-color: black;
            padding: 39px 39px 145px 39px;
            
        }
        .box{
            border: 2px solid rgb(36, 35, 35);
            color: white;
            background-color: rgb(36, 35, 35);
            border-radius: 10px;
            margin: 4px;
            padding: 32px;

        }
        .box h2{
            padding: 5px;
            color: red;
            font-size: 1.3rem;
        }
        .box p{
            font-size: 1rem;
        }
        .skills{
            padding: 23px;
            text-align: center;
            font-family:'baloo bhai',cursive ;
            font-size: 1.3rem;
        }
        .skills span{
            color: red;
            font-size: 1.1rem;
        }
        .skill-box{
            display: flex;
            /* align-items: center; */
            justify-content: space-between;
            padding: 39px 20px 75px 20px;
        }
        .skills-right{
            /* border: 2px solid black; */
            padding: 15px;
            margin: 12px;
            color: black;
            font-size: 1rem;
            font-family: 'Baloo Bhai',cursive;
        }
        .skills-right span{
            color: black;
        }
        .skills-left{
            /* border: 2px solid black; */
            /* margin-right: 371px ; */
            width: calc(50% - 30px);
            font-family: 'Baloo Bhai',cursive;
        }
        .skills-left .info{
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 10px;
            align-items: justify;
        }
        .skills-left  p{
            font-size: 1.1rem;
            font-family: 'Baloo Bhai',cursive;
        }
        .skills-left  a{
            padding: 4px;
            background-color: red ;
            border: 2px solid red;
            color: white;
            text-decoration: none;
            margin-top: 30px;
        }
        .skills-right .bars{
            margin-bottom: 15px;
        }
        .skills-right .bars .skill-1{
            display: flex;
            justify-content: space-between;
             align-items: center; 
             padding: 4px;
        }
        .skills-right .bars .line{
            width: 100%;
            height: 5px;
            background-color: grey;
            position: relative;
        }
        .skills-right .bars  .line::before{
            content: "";
            width: 80%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: crimson;

        }
        .skills-right #skill-1 .line::before{
            width: 60%;
        }
        .skills-right #skill-2 .line::before{
            width: 70%;
        }
        .skills-right #skill-3 .line::before{
            width: 65%;
        }
        .skills-right #skill-4 .line::before{
            width: 69%;
        }
        .skills-right #skill-5 .line::before{
            width: 80%;
        }
        .achieve{
            background-color: black;
            color: white;
            text-align: center;
            font-family: 'Baloo Bhai',cursive;
            padding: 34px;
            
        }
        .achieve h1{
            font-size: 1.7rem;
            font-weight: 600;
        }
        .achieve span{
            color: red;
            font-size: 1.5rem;
            font-weight: 600;

        }
        .rewards{
            display: flex;
            background-color: black;
            padding: 35px 35px 90px 35px; 
            
        }
        .achievement{
            border: 2px rgb(29, 28, 28);
            background-color:rgb(29, 28, 28) ;
            color: white;
            margin: 40px;
            padding: 11px;
            border-radius: 10px;

        }
        .achievement img{
            margin: 20px;
            width: 152px;
            height: 152px;
            border-radius: 81px;
        }
        .achievement #reward-2{
            padding: 40px;
        }
        .achievement h3{
            padding-bottom: 10px;
            color: red;
            font-size: 1.7rem;
            font-weight: 600;
        }
        .contact{
            
                padding: 23px;           
        }
        .psnl{
            display: flex;
            justify-content: space-between;
            padding: 36px;
        }
        .contact h1, h4{
            text-align: center;
                /* font-family:'baloo bhai',cursive ; */
                font-size: 1.5rem;
                font-weight: 1500;
        }
        .contact span{
            color: red;
            font-size: 1.1rem;
            text-align: center;
            font-weight: 900;
        }
        .contact_left{
            width: calc(50% - 30px);
    
        }
        .contact_left .touch{
            font-size: 1.3rem;
            /* font-family: 'Baloo Bhai',cursive; */
            font-weight: 700;
            padding: 3px;
        }
        .contact_left .row{
            display: flex;

        }
        .row i{
            font-size: 28px;
            color: red;
            padding: 15px;
        }
        .contact_left .info,.contact_left p{
            padding: 10px;
            font-size: 1.1rem;
            font-weight: 500;
            /* font-family: 'Baloo Bhai',cursive; */
        }
        .contact_left p{
            font-size: 1.1rem;
            font-weight: 600;

        }
        .contact_right .message{
            font-size: 1.3rem;
            /* font-family: 'Baloo Bhai',cursive; */
            font-weight: 600;
            padding: 3px;

        }
        form input{
            padding: 8px;
            margin: 5px;
        }
        form textarea{
            margin: 5px;
            padding: 8px;


        }
        form placeholder{
            font-size: 1.1rem;
            font-weight: 500;
        }
        .cont_info  button{
            padding: 7px;
            border: 2px solid red;
            border-radius: 7px;
            color: white;
            background-color: red;
            margin: 8px;

        }
        footer div{
            background-color: black;
            color: white;
            padding: 13px;
           text-align: center;
        }
        footer span{
            color: red;
        }


